#header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    height: 150px;
    background-color: #4e9ffd;
}

#logo {
    height: 60px;
    position: absolute; 
    top: 90px;
}